body {

	background-image: url('world.png');
	background-repeat: repeat;
}

button {

    color: #000000;
    background-color: #00FFFF;
    border: 1px solid #334452;
    border-radius: 20px;
}

h1,label {

    color: #000000;
}

table,th,td {
	
	border: 1px solid #7fca7f;
	border-collapse: collapse;
}